@page "/"

<PageTitle>Home</PageTitle>

<h1>Welcome to ChallengeNess!</h1>
<h3 class="mb-5">Bring your 8-bit A-Game</h3>

<img src="images/nes_start_screens_banner.png" class="img-fluid" style="margin: 0 auto;"/>
