@page "/games"

@inject GamesService gamesService

<div class="d-flex justify-content-between align-items-center">
    <h1 class="mb-4">Games<i class="nes-logo"></i></h1>
    <a class="nes-btn" href="games/new">Add</a>
</div>

<div class="nes-container is-dark">
@if(availableGames != null) {
    <div class="d-flex justify-content-evenly flex-wrap">

    @foreach(var game in availableGames)
    {
        <div class="card mb-4" style="width: 18rem;">
          <img src="/images/games/@game.ImageName" class="card-img-top" alt="@game.ImageName">
          <div class="card-body">
            <h5 class="card-title text-center text-dark">@game.Title</h5>
            <p class="card-text text-secondary text-center mt-3">@game.YearPublished</p>
            <button class="nes-btn is-error d-block" style="margin: 0 auto;">Challenge!</button>
          </div>
        </div>
    }
    </div>
}
</div>


@code {
    private List<Game>? availableGames;

    protected override async Task OnInitializedAsync()
    {
        availableGames = await gamesService.Get();
    }
}
